a {
    text-decoration: none;
    margin-left: 40pt;
}

a:link {
    color: #111111;
    font-style: normal;
}

a:visited {
    color: #090909;
}

a:hover {
    color: #111111;
    background-color: #EEEEEE;
}

a:active {
    color: #101010;
    background: #F3F3F3;
}

.textarea {
    margin-left: 20px;
}

body {
    background-color: #FAF0E6;
    margin: 0;
    padding: 0;
}
